$headline_gray: #8b8b8b;
$headerline_yellow: #f6b130;
$selection_color: #f6b130;
$font_size: 1rem;

:root {
    --light_gray: #a1a1a1;
    --white: #ffffff; 
    --dark_gray: #636364;
    --nav_color: #ffffff75;
    --btn_border: #F6B13070;
    --page_background: #1d1d1d;
    --dark_violet: #232323;
    --hover_color: #262626;
    --flexbox_border: #EDA217;
  }